.form-contact{
    font-family: $primary-font;
    padding: 50px 0;
    color: $primary-blue;
}
.form-contact h1{
    text-align: center;
    font-size: 36px;
    line-height: 35px;
    margin-bottom: 50px;
}
.form-contact label{
    display: inline;
    font-size: 1.02em;
}
.form-contact input, textarea{
    width: 100%;
    font-size: 1.02em;
    border: 1px solid $primary-blue;
    padding: 5px 20px; 
    resize: none;
    font-family: $primary-font;
    background-color: $primary-white;
}
.input-div ::placeholder{
    color: #D4D4D4;
}
.form-contact textarea{
    height: 100px;
}
.input-div{
    padding: 10px 0;
}
.button-area{
    display: flex; justify-content: center;
}
.button-area button{
    border: none;
    background-color: $primary-blue;
    color: $primary-white;
    font-size: 24px;
    line-height: 23px;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid $primary-blue;
    cursor: pointer;
    transition: .3s;
}
.button-area button:hover{
    color: $primary-blue;
    background-color: $primary-white;
    transition: .3s;
}