

footer {
    width: 100%;
    font-family: $secondary-font;
    color: $primary-white;
}

footer .footer {
    background-color: $primary-black;
    font-size: 1.25em;
}
footer #copyright {
    background-color: $secondary-black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.125em;
}

footer .contact {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

footer .contact p {
    padding-left: 30px;
    margin-bottom: 40px;
}

footer .creator-logo {
    display: inline-block;
    text-align: center;
}
footer .creator-logo img {
    margin-top: 20px;
}
    /*  RESPONSIVO  */

@media screen and (min-width: 992px) {
    footer .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    footer .contact {
        margin-right: 300px;
    }    
}

@media screen and (max-width: 991px) {
    footer .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }
    footer .contact {
        padding-top: 30px;
    }
}
