
/*###################### HEADER ######################*/

header {
    // height: 60px;
    background-color: $primary-blue;
    width: 100%;
    padding: 5px;
    font-family: $primary-font;
}

.logo {
    margin-top: 5px;
    display: inline-block;
    /* float: left; */
    // height: 30px;
}

.menu {
    float: right;
}

.menu-list {
    padding: 0;
    height: 100%;
    float: left;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 13px 10px;
    margin-right: 30px;
}

.menu li a{
    text-decoration: none;
    color: $primary-white;
}

.menu-tel {
    text-align: center;
    font-size: 12px;
    border: 2px solid $primary-white;
    color: $primary-white;
    height: 42px;
    padding: 2px;
    width: 118px;
    float: right;
}

#first-tel{
    margin-bottom: 5px;
}

#second-tel{
    margin-top: 5px;
}
.img-header {
    height: 100%;
    display: inline-block;
}

