.first-section{
    background: linear-gradient( rgba(36, 36, 36, .4), rgba(36, 36, 36, .6) ), url('./assets/img/background-home.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 646px;
}

.center-itens{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-70%);
    font-size: 36px;
    line-height: 48px;
    color: $primary-white;
    text-align: center;
}

.center-itens img{
    height: 127px;
    margin-bottom: 30px;
}

.center-itens h2{
    margin-bottom: 78px;
}

.bt-contato {
    color: $primary-white;
    text-decoration: none;
    border: 1px solid $primary-white;
    font-family: $primary-font;
    padding: 20px 30px;
    cursor: pointer;
    display: inline-block !important;
}

.second-section {
    width: 100%;
    height: fit-content;
    background-color: $primary-blue;
    margin-top: -50px;
}

.second-section p {
    text-align: center;
}

.texto{
    padding: 80px 0;
    color: $primary-white;
}

.texto p {
    font-size: 1em;
    line-height: 21px;
    margin-bottom: 10px;
}

.values{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.values-item{
    background-color: $primary-white;
    height: 300px; width: 240px;
    padding: 20px;
    text-align: center;
}

.values-item h2{
    font-family: $primary-font;
    font-size: 24px;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .values {
        flex-direction: column;
        align-items: center;
    }
    .values-item{ 
        margin-top: 15px;
    }  
    .bt-contato {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 767px) {
    .center-itens img{
        height: 64px;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 575px) {
    .center-itens img{
        display: none;
    }
}