// Mixins
@mixin font-primary($size) {
    font-family: $primary-font;
    font-size: $size;
    line-height: $size * 1.5;
}

@mixin font-secondary($size)  {
    font-family: $secondary-font;
    font-size: $size;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin btn($color) {
    @include font-secondary(1.125em);
    @extend %no-text-decoration;
    @extend %d-block;
    @extend %text-align-center;
    max-width: 150px;
    vertical-align: middle;
    padding: 15px 10px;
    cursor: pointer;
    transition: .3s;
    @if $color == primary {
        background-color: $primary-blue;
        color: $primary-white;
    }
    @else if $color == dark {
        background-color: $primary-black;
        color: $primary-white;
    }
    @else if $color == light {
        background-color: $primary-white;
        color: $primary-black;
    }
    &:hover {
        @include bnt-hover($color);
    }
    &:active {
        transform: translateY(2px);
    }
}

@mixin bnt-hover($color) {
    transition: .3s;
    @if $color == primary {
        background-color: darken($primary-blue, 10%);
    }
    @else if $color == dark {
        background-color: darken($primary-black, 10%);
    }
    @else if $color == light {
        background-color: darken($primary-white, 10%);
    }
}

@mixin title-section($color) {
    @include font-secondary(2em);
    @extend %text-align-center;
    color: $color;
    @include device(s) {
        font-size: 1.5em;
    }
}

@mixin subtitle-section($color) {
    @include font-secondary(3.5em);
    @extend %text-align-center;
    color: $color;
    @include device(s) {
        font-size: 2.5em;
    }
}

@mixin text-behind-title-section($color) {
    @include font-secondary(9em);
    @extend %text-align-center;
    @extend %position-absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -20px;
    color: $color;
    opacity: .05;
    @include device(m) {
        font-size: 7em;
    }
    @include device(s) {
        font-size: 4.5em;
    }
}

@mixin wrapper($width, $height) {
    overflow: hidden;
    position: relative;
    width: $width;
    height: $height;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease;
        opacity: .4;
        z-index: 10;
        pointer-events: none;
        width: $width;
        height: $height;
    }
}