.our-blog {
    padding: 60px 0;
    background: $primary-black;
}

.recent-posts {
    .title {
        @extend %position-relative;
        h2 {
            @include title-section($primary-blue);
        }
        h3 {
            @include subtitle-section($primary-white);
        }
        h4 {
            @include text-behind-title-section($primary-white);
        }
    }
    .description {
        margin-top: 20px;
    }
    .btn {
        @include btn(primary);
        margin: 0 auto;
    }
}

.posts {
    @extend %d-flex;
    @extend %flex-direction-row;
    @extend %flex-flow-row-wrap;
    @extend %flex-justify-content-space-around;
}

.posts-item {
    transition: all .3s ease;
    width: $l-device / 4;
    margin: 20px 0;
    a {
        @extend %no-text-decoration;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
    h4 {
        @include font-secondary(1.5em);
        color: $primary-white;
        margin: 10px 0;
        transition: .3s;
        &:hover {
            color: $primary-white;
            transition: .3s;
        }
    }
    p {
        @include font-primary(1em);
        color: $primary-white;
    }
    .post-date {
        border-bottom: 5px solid $primary-white;
        margin-bottom: 5px;
        padding-bottom: 5px;
        @extend %uppercase;
        font-family: $secondary-font;
    }
    .posts-item-wrapper {
        @include wrapper(100%,250px);
    }
    .posts-item-img {
        overflow: hidden;
        transition: all .3s ease;
        position: relative;
    }
    &:hover .posts-item-img img {
        transform: scale(1.05);
        transition: all .3s ease-in;
    }
}

.paginate {
    @extend %d-flex;
    @extend %flex-direction-row;
    @extend %flex-justify-content-center;
    a {
        @extend %no-text-decoration;
        color: $primary-white;
        margin: 0 5px;
    }
    .active {
        background: $primary-white;
        color: $primary-black;
        padding: 0 5px;
    }
}

.header-post {
    @extend %position-relative;
    .main-msg {
        @extend %position-absolute;
        transform: translateX(-50%);
        left: 50%;
        p {
            @include font-secondary(7em);
        }
        @include device(m) {
            p {
                font-size: 5em;
            }
        }
        @include device(s) {
            p {
                font-size: 3em;
            }
        }
    }
}

.body-post {
    padding: 60px 0;
    .post-date {
        border-bottom: 5px solid $primary-white;
        margin-bottom: 5px;
        padding-bottom: 5px;
        @extend %uppercase;
        font-family: $secondary-font;
        color: $primary-black;
    }
    .content {
        margin-bottom: 40px;
    }
    .btn {
        @include btn(primary);
        margin: 0 auto;
    }
}