#notice {
    padding: 20px;
}
#notice .notice-content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-direction: column;
}
#notice .notice-title {
    text-align: center;
}
#notice h1 {
    font-family: $primary-font;
    font-size: 2.25em;
    color: $primary-blue;
    padding-top: 20px;
    padding-bottom: 20px;
}

#notice h2 {
    font-family: sans-serif;
    font-size: 1.125em;
}
#notice .notice-subtitle {
    font-family: $secondary-font;
    color: grey;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
}
#notice .notice-author {
    font-size: 1em;
}

#notice .notice-time {
    font-size: 0.75em;
}
#notice .notice-scope {
    padding-bottom: 50px;
    font-size: 1.125em;
    font-family: $secondary-font;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
#notice .notice-scope p {
    text-align: justify;
}

#notice .notice-scope img {
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
}