.our-services {
    background-color: $primary-white;
    padding: 60px 0;
}
.page-intro h1 {
    font-family: $primary-font;
    font-size: 2.25em;
    text-align: center;
    color: $primary-blue;
    padding-bottom: 30px;
}
.page-intro p {
    text-align: left;
}

.card-services {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row wrap;
    padding-bottom: 60px;
}

.card-item {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: $primary-grey;
    text-align: left;
    width: 300px;
    padding: 10px;
    color: $primary-blue;
    line-height: 1.4375em;
}


.card-item li {
    font-family: $secondary-font;
    font-size: 1em;
}

.card-item h3 {
    text-align: center;
    padding-bottom: 15px;
    font-family: $primary-font;
    font-size: 1.5em;
}

@media screen and (max-width: 991px) {
    .card-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-intro p {
        text-align: center;
    }
}