
// Color variables
$primary-blue: #2b4d6b;
$primary-grey: #E0E0E0;
$primary-black: #333333;
$secondary-black: #3D3D3D;
$primary-white: #FAFAFA;
// Font variables
$primary-font: 'Aldrich', sans-serif;
$secondary-font: 'Pt', 'serif';